head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="description", content="")
  meta(name="author", content="")
  
  link(rel="icon", href="/img/icon32.jpg")
  
  title!=title
  
  link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
  link(rel="stylesheet", href="/bootstrap/css/bootstrap-theme.min.css")
  link(rel="stylesheet", href="/datatables/css/dataTables.bootstrap.css")
  link(rel="stylesheet", href="/css/theme.css")
  
  script(type="text/javascript", src="/socket.io/socket.io.js")
  script(type="text/javascript", src="/jquery/js/jquery-2.1.1.min.js")
  script(type="text/javascript", src="/bootstrap/js/bootstrap.min.js")
  script(type="text/javascript", src="/datatables/js/jquery.dataTables.min.js")
  script(type="text/javascript", src="/datatables/js/dataTables.bootstrap.js")
