extends layout.jade

block content
  .container
    table#filesTable.table.table-striped(width="100%")
      thead
        tr
          th #
          th Nombre
          th Tamaño
          th Fecha inicio
          th Fecha fin
      tbody
  
  script(type="text/javascript", src="/js/dataTables.pipeline.js")
  script(type="text/javascript", src="/js/uploaded-files.js")
